body {
    display: grid;
    place-items: center;
}

button {
    border: 0;
    height: 50px;
    margin: 2px;
    background-color: #F7F7F7;
    border: 2px solid transparent;
    font-size:  15px;
    text-overflow: ellipsis;
}

button:hover {
    border: 2px solid #DDDDDE;
}

button:focus {
    outline: 0;
    border: 2px solid #DDDDDE;
}

p:empty {
    display: block;
}

.calculator {
    margin-top: 5vh;
    width: 33vw;
}

.text-display-area {
    text-align: right;
    font-family: 'digital-7', sans-serif;
}

.btn-row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.number {
    background-color: #d6f0cd;
}

.operator {
    width: 25%;
    font-weight: bold;
}

.number, #clear, #backspace {
    width: 25%;
    text-overflow: ellipsis;
}

#equals {
    width: 75%;
}

#display {
    border-bottom: 2px solid #DDDDDE;
    font-size: 40px;
    margin: 0px 0px 10px;
    padding: 2px;
}

#displayAbove {
    height: 16px;
    color: #DDDDDE;
    margin: 0px;
}

